includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - src
        - config
        - database
    ignoreErrors:
        - '#^Class App\\Models\\User not found$#'
    tmpDir: build/phpstan
