includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
#    checkOctaneCompatibility: true
#    checkModelProperties: true


    ignoreErrors:
        - '#PHPDoc tag @var#'

